doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.min.css")
    body 
        section.tasks 
            h1.tasks__title To do list 
            ul.tasks__list
                each val, i in ['learn HTML','learn CSS','learn JavaScript','learn PHP','stay alive']
                    li.tasks__item= val  
        script(src="js/script_drag.js") 


