doctype html
head
  meta(charset='UTF-8')
  title HTML Video Player
  link(rel='stylesheet' href='css/style.min.css')
  body 
    #myvideo.player
        video.player__video.viewer(src='video/video.mp4')
        .player__controls
            .progress
                .progress__filled
            button.player__button.toggle(title='Toggle Play') &#x25BA;
            input.player__slider(type='range' name='volume' min='0' max='1' step='0.05' value='1')
            button#full_screen.player__button.screen(onclick='updateButtonScreen();') &rect;
        script(src='js/script_drag.js')